html {
    background-color: #01303F;
    color: #d4f0fc;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Courier New', Courier, monospace;
    overflow-x:hidden;
}

body {
    width: 100%;
}

h1:not(#header):not(#proj-title):hover {
    text-shadow: 0 0 5px #f40303,
              0 0 25px #f40303,
              0 0 50px #f40303,
              0 0 100px #f40303;
}

h2 {
    text-align: center;
}

.letter:hover {
    cursor: pointer;
    color: #fff;
    text-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}
.name:not(.footer) {
    font-size: 70px;
}
.name:hover {
    cursor: pointer;
    color: #fff;
    text-shadow: 0 0 5px #f40303,
              0 0 25px #f40388,
              0 0 50px #a003f4,
              0 0 100px #2b03f4;
}
.high {
    text-decoration: underline;
}
.high:hover {
    cursor: pointer;
    color: #fff;
    text-shadow: 0 0 5px #f40303,
              0 0 25px #f40303,
              0 0 50px #f40303,
              0 0 100px #f40303;
}
.hello {
    font-size: 100px;
}

#skills {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
  }

#header {
    display: inline-block;
    animation: slow 3s ease forwards;
}

#me {
    float:right;
    width:0;
    animation: 2s appear ease forwards 1s;
    margin-left: 10%;
    margin-top:10%;
    position: relative;
    border: 1px solid black;
    box-shadow: 120px 80px 40px 20px #0ff;
}

#me:hover {
    box-shadow: 0 0 5px #f40303,
                0 0 25px #f40388,
                0 0 50px #a003f4,
                0 0 100px #2b03f4;
}

.anim {
    font-size: 1px;
    animation: 
        slow ease forwards 1s,
        1s bounce ease forwards 1s;
}


@keyframes mtos {
    from {
        background-color: #01303F;
    }
    to {
        background-color: #e7b100;
    }
}

@keyframes stom {
    from {
        background-color: #e7b100;
    }
    to {
        background-color: #01303F;
    }
}

@keyframes slow {
    from {
        text-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
        font-size: 1px;
    }
    to {
        font-size: 100px;
    }
}
@keyframes bounce {
    from {
        font-size: 100px;
    }
    to {
        font-size: 50px;
    }
}

@keyframes appear {
    from {
        width: 0px;
        transform: rotate(180deg);
    }
    to {
        width: 300px;
        border-radius: 50%;
        margin-right: 5%;
        transform: rotate(0deg);
    }
}
a {
    color: #d4f0fc;
    text-decoration: none;
    margin: 3%;
}

a:hover {
    color: #02a9f7;
}

@keyframes openProject {
    from {
        pointer-events: none;
        width: 90px;
        height: 75px;
        top: calc(50% - 37.5px);
        left: 0;
        border-radius: 50%;
        background-color: #00b3ff;
        background-image: none;
        opacity: 0;
    }
    to {
        width: 900px;
        height: 750px;
        top: calc(50% - 375px);
        left: calc(50% - 450px);
        border-radius: 20px;
        background-image: url("images/waves.svg");
        opacity: 100;
    }
}

#portfolio-zoom {
    z-index: 100;
    position: fixed;
}

#x {
    border-radius: 50%;
    z-index: 2000;
    position: absolute;
    left: 5px;
    top: 5px;
    width: 32px;
    height: 32px;
}
#x:hover {
    background-color:#00b3ff;
}
#x:before, #x:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: rgb(255, 0, 0);
}
#x:before {
    transform: rotate(45deg);
}
#x:after {
    transform: rotate(-45deg);
}
  

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

@keyframes hide {
    from {
        opacity: 100;
    }
    to {
        opacity: 0;
    }
}

@keyframes closeProject {
    from {
        opacity: 100;
        width: 900px;
        height: 750px;
        top: calc(50% - 375px);
        left: calc(50% - 450px);
        border-radius: 20px;
        background-image: url("images/waves.svg");
    }
    to {
        pointer-events: none;
        width: 90px;
        height: 75px;
        top: calc(50% - 37.5px);
        left: 0;
        border-radius: 50%;
        background-color: #00b3ff;
        background-image: none;
        opacity: 0;
    }
}

#portfolio-zoom > * {
    opacity: 0;
}

#tech {
    display: flex;
    justify-content: center;
    padding: 5px;
    flex-wrap: wrap;
}

#tech > img {
    padding: 5px;
}

video {
    width: 400px;
    margin-left: 250px;
    margin-top: 3%;
    border: 1px solid black;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

#trailTracker {
    border-radius: 100%;
    width:100px;
    top:30%;
    left:calc(5% - 50px);
}

#trailTracker:hover {
    left:calc(5% - 40px);
    width:80px;
    top:calc(30% + 5px)
}

.icons {
    width: 30px;
    position: absolute;
    left: calc(5% - 15px);
    position: fixed;
}
#logo {
    width:70px;
    left: calc(5% - 30px)
}

#sm {
    width: 35px;
    top: 20%;
}
#sm:hover {
    border-radius: 50%;
    box-shadow:
    0 0 20px #03e9f4;
}

#github {
    top: 50%;
}
#github:hover {
    top: 49%;
    padding-top: 10px;
}
#linkedin {
    top: 55%;
}
#linkedin:hover {
    top: 54%;
    padding-top: 10px;
}
#portfolio {
    top: 60%;
}
#portfolio:hover {
    top: 59%;
    padding-top: 10px;
}
#instagram {
    top: 65%;
}
#instagram:hover {
    top:64%;
    padding-top: 10px;
}
#leetcode {
    top: 70%;
}
#leetcode:hover {
    top: 69%;
    padding-top: 10px;
}

.trail { /* className for the trail elements */
    position: absolute;
    height: 6px; width: 6px;
    border-radius: 3px;
    background: rgb(51, 255, 255);
    border: 0px solid black;
    box-shadow:0 0 1px #03e9f4,
    0 0 5px #03e9f4,
    0 0 10px #03e9f4,
    0 0 20px #03e9f4;
    left:500px;
    right:500px;
    pointer-events: none;
}

#experiences {
    width:100%;
    height:700px;
    display:flex;
    justify-content: center;
}

#prudential {
    width:100%;
    height: 700px;
    margin-right: 2%;
    box-shadow:0 0 1px #03e9f4,
    0 0 5px #03e9f4,
    0 0 10px #03e9f4,
    0 0 20px #03e9f4;
}

#lifehikes {
    width:100%;
    height: 700px;
    box-shadow:0 0 1px #03e9f4,
    0 0 5px #03e9f4,
    0 0 10px #03e9f4,
    0 0 20px #03e9f4;
}
#russ {
    width:100%;
    margin-left: 2%;
    height: 700px;
    box-shadow:0 0 1px #03e9f4,
    0 0 5px #03e9f4,
    0 0 10px #03e9f4,
    0 0 20px #03e9f4;
}

#prudential:hover {
    box-shadow: 0 0 5px #f40303,
                0 0 25px #f40388,
                0 0 50px #a003f4,
                0 0 100px #2b03f4;
}

#lifehikes:hover {
    box-shadow: 0 0 5px #f40303,
                0 0 25px #f40388,
                0 0 50px #a003f4,
                0 0 100px #2b03f4;
}

#russ:hover {
    box-shadow: 0 0 5px #f40303,
                0 0 25px #f40388,
                0 0 50px #a003f4,
                0 0 100px #2b03f4;
}

#title {
    font-size: 1rem;
}

#test-link {
    border: 1px solid #03e9f4;
    border-radius: 15px;
    padding: 20px;
    text-align:center;
    margin-left: 400px;
}

#test-link:hover {
    background-color: #03e9f4;
}

#samples {
    width: 100%;
    height: 600px;
}

.sample {
    z-index: 0;
    text-align:center;
    position:relative;
    width: 25%;
    height: 100%;
    box-shadow:0 0 1px #03e9f4,
    0 0 5px #03e9f4,
    0 0 10px #03e9f4,
    0 0 20px #03e9f4;
}
.sample:hover {
    text-shadow: 0 0 5px #f40303,
              0 0 25px #f40388,
              0 0 50px #a003f4,
              0 0 100px #2b03f4;
    box-shadow: 0 0 5px #f40303,
                0 0 25px #f40388,
                0 0 50px #a003f4,
                0 0 100px #2b03f4;
}
.row {
    display:flex;
    justify-content:center;
    width:100%;
    height:50%;
}

#contact {
    text-align: center;
    margin-left:25%;
    width: 50%;
}

.button {
    font-family: 'Courier New', Courier, monospace;
    background-color: #00b3ff;
    border-radius: 15px;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    text-align: center;
}

.button:hover {
    box-shadow:0 0 1px #03e9f4,
    0 0 5px #03e9f4,
    0 0 10px #03e9f4,
    0 0 20px #03e9f4;
}

#button1 {
    margin-left:20%;
    font-size: 20px;
    width:100px;
    height: 45px;
}

#button2 {
    margin-top:10%;
    font-size: 20px;
    width:200px;
    height: 90px;
    padding: 10px 16px;
}

#footer {
    border-top:1px solid #02a9f7;
}

.footer {
    margin-left: 20px;
    margin-right:20px;
}
