html {
    background-color: #01303F;
    color: #d4f0fc;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Courier New', Courier, monospace;
    overflow:hidden;
}
.letter:hover {
    cursor: pointer;
    color: #fff;
    text-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}
.name:hover {
    cursor: pointer;
    color: #fff;
    text-shadow: 0 0 5px #f40303,
              0 0 25px #f40303,
              0 0 50px #f40303,
              0 0 100px #f40303;
}
#header {
    font-size: 50px;
}
a {
    color: #d4f0fc;
    text-decoration: none;
    margin: 3%;
}

a:hover {
    color: #02a9f7;
}

nav {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}

.icons {
    width: 30px;
    position: absolute;
    left: calc(5% - 15px);
}
#logo {
    width:70px;
    left: calc(5% - 30px)
}

#github {
    top: 50%;
}
#github:hover {
    top: 49%;
    padding-top: 10px;
}
#linkedin {
    top: 55%;
}
#linkedin:hover {
    top: 54%;
    padding-top: 10px;
}
#portfolio {
    top: 60%;
}
#portfolio:hover {
    top: 59%;
    padding-top: 10px;
}
#instagram {
    top: 65%;
}
#instagram:hover {
    top:64%;
    padding-top: 10px;
}
#leetcode {
    top: 70%;
}
#leetcode:hover {
    top: 69%;
    padding-top: 10px;
}

.trail { /* className for the trail elements */
    position: absolute;
    height: 6px; width: 6px;
    border-radius: 3px;
    background: rgb(51, 255, 255);
    border: 0px solid black;
    box-shadow:0 0 1px #03e9f4,
    0 0 5px #03e9f4,
    0 0 10px #03e9f4,
    0 0 20px #03e9f4;
}